@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LazyDog";
  src: url("/fonts/LazyDog.ttf") format("truetype");
}

body {
  font-family: 'Montserrat', sans-serif;
}
.lazy-dog {
  font-family: "LazyDog", cursive;
}